<head>
    <title>Edit Product</title>
</head>

<body>
    <h1> {{product.name}}</h1>
    <div class="form-content">
        <form *ngIf="productForm" [formGroup]="productForm" (ngSubmit)="this.updateProduct.emit(productForm.value)">
            <div class="form-group">
                <label class="label" for="productName">Name:</label>
                <input type="text" id="productName" formControlName="name">
            </div>

            <div class="form-group">
                <label class="label" for="productCategory">Category:</label>
                <input class="input" type="text" id="productCategory" formControlName="category">
            </div>

            <div class="form-group">
                <label class="label" for="productImage">Image URL:</label>
                <input class="input" type="text" id="productImage" formControlName="image">
            </div>

            <div class="form-group">
                <label class="label" for="productPrice">Price:</label>
                <input class="input" type="number" id="productPrice" formControlName="price">
            </div>

            <div class="form-group">
                <label class="label" for="productDescription">Description:</label>
                <textarea class="input" id="productDescription" formControlName="description"></textarea>
            </div>

            <div class="form-group">
                <button class="button" type="submit" [disabled]="!productForm.valid">Save</button>
                <button class="button" (click)="this.back.emit()">Cancel</button>
            </div>

        </form>
    </div>
</body>