<head>
  <title>Online shop</title>
</head>

<body>
  <div>
    <div>
      <h2>Shopping cart</h2>
    </div>
    <div>
      <app-icon-button buttonText="Checkout" (buttonClick)="toCreateOrder('de96921d-2f8d-46e7-8061-31468180de96')"></app-icon-button>
    </div>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productsWithQuantities">
          <td>{{ product.category }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }} RON</td>
          <td>
            <input type="number" [(ngModel)]="product.quantity" min="0" step="1" />
          </td>
          <td><app-icon-button buttonText="Remove" (buttonClick)="removeProductFromCart(product.id)"></app-icon-button></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>