<head>
  <title>Online shop</title>
</head>

<body>
  <div>
    <div>
      <h2>Products</h2>
    </div>
    <div>
      <app-icon-button buttonText="Add" (buttonClick)="this.addProduct.emit()"></app-icon-button>
      <app-icon-button buttonText="Shop" (buttonClick)="this.shoppingCart.emit()"></app-icon-button>
    </div>
  </div>
  <div>
    <table>
      <thead>
        <tr>
          <th>Category</th>
          <th>Name</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.category }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price | currency:'RON' }}</td>
          <td><app-icon-button buttonText="Details" (buttonClick)="this.productSelected.emit(product.id)"></app-icon-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>