<html>

<head>
    <title>Online shop</title>
</head>

<body>
    <div class = "header">
        <div class = "header">
            <h1>Product: {{product?.name}}</h1>
        </div>
        <div class = "header">
            <button>Edit</button>
            <button id="button_delete">Delete</button>
        </div>
    </div>
    <div class="container_details">
        <div class="informational_details">Name:</div>
        <div>{{ product?.name }}</div>
        <img class="container_image" src="{{product?.image}}"/>

        <div class="informational_details">Category:</div>
        <div>{{ product?.category }}</div>
        

        <div class="informational_details">Price:</div>
        <div>{{ product?.price }} RON</div>

        <div class="informational_details">Description:</div>
        <div class="container_description">{{ product?.description }}</div>
    </div>
</body>

</html>