.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vh;
    margin: 1% 7% 1% 7%;

    h1 {
        color: #333;
    }

    button {
        padding: 1vh 1.5vw;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 5%;
    }
    
    app-icon-button{
        margin-right: 5%;
    }

    ::ng-deep app-icon-button[id="button_delete"] button{
        background-color: rgb(231, 70, 70);
    }
}

.container_details {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 2%;
    grid-template-columns: 1fr 1fr 2fr;

    .informational_details {
        font-weight: bold;
        text-align: right;
        padding: 10%;
    }

    .container_image {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        max-width: 50%;
        display: block;
        margin: 0 auto;
    }

    .container_description {
        word-wrap: break-word;
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

.container_buy{
    display: flex;
    justify-content: center;
    input, app-icon-button{
        margin: 1%;
    }
}